.colors{

  color: #194569;
  color: #11698e;
  color: #208aed;
  color: #16c79a;
  color: #5dfdcb;
  color: #707070;
  color: #44b692;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}


.app {
  height: 100vh;
}

link,
a {
  text-decoration: none;
}

h1 {
  font-size: calc(3vh + 3vw);
}

h2 {
  font-size: calc(2vh + 2vw);
}

h3 {
  font-size: calc(1vh + 1vw);
}
