.navbar {
  height: 8vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: calc(.5vh + .5vw);
}

.navbar__container {
  height: 100%;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #5dfdcb;
}

.navbar__link {
  color: #5dfdcb;
}
